<div class="card">
  <div class="card-body">
    <%= form_for(Message.new, url: messages_path(user_id: user.id, chat_id: params[:id])) do |f| %>
        <div class="mb-3">
          <%= f.label "Write your message here:", class: "form-label" %>
          <%= f.text_area :body, class: "form-control form-control-sm" %>
        </div>
        <%= f.submit "Send message", class: "btn btn-outline-secondary btn-sm" %>
    <% end %>
  </div>
</div>