<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <%= image_tag @user.avatar.url(:thumb) if @user.avatar.present? %> 
      <h3>Hey, <%= @user.name %>, bro!</h3>
      <%= render 'posts/posts' %>
      <%= render 'posts/posts_form' %>
    </div>
    <div class="col">
    </div>
  </div>
</div>