<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col" style="margin-top: 5em;">
      <%= image_tag @user.avatar.url(:thumb) if @user.avatar.present? %> 
      <h4>Hey, <%= @user.name %>, bro!</h4>
      <%= render 'posts/posts' %>
      <% if @user.id == current_user.id %>
        <%= render 'posts/posts_form', post: @post %>
      <% end %>
    </div>
    <div class="col">
    </div>
  </div>
</div>