<% if @user.id == current_user.id%>
  <div class="avatar">
    <%= image_tag @user.avatar.url if @user.avatar %>
  <h3>Hey, <%= @user.name %>, bro!</h3>
  </div>
<% else %>
  <h3>Sorry, bro, it's not your page!</h3>
<% end %>    
