<div class="container">
  <div class="row">
    <div class="col mt-5">
    </div>
    <div class="col mt-5">
      <div class="card" style="min-width: 32rem; max-width: 32rem;">
        <div class="card-body">
          <%= render 'messages/message', chat: @chat, user: current_user %>
          <%= render 'messages/message_form', user: current_user %>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>